 #tabs7 {
      float:right;
	  padding-top:0px;
      width:810px;
      background:none;
	  font-family:Arial, Helvetica, sans-serif;
	  font-size:12px;
	  line-height:normal;
	  color:#fff;
	  font-stretch:condensed;
	  
      }
    #tabs7 ul {
          margin:0;
          padding:0;
          list-style:none;

      }
    #tabs7 li {
      display:inline;
      margin:0px;
	  padding:0px;
	  
	  
      }
    #tabs7 a {
      float:left;
	  cursor:hand;
      margin:0;
      padding:0 0 0 10px;
      text-decoration:none;
	  background:url(../../img/na_left.png) no-repeat left top;
	  margin-left:1px;
      }
    #tabs7 a span {
      float:left;
      display:block;
      padding:7px 10px 5px 0px;
      color:#fff;
	  height:20px;
	  background:url(../../img/na_right.png) no-repeat right top;
	  
      }
    /* End IE5-Mac hack */
	
    #tabs7 a:hover {
      background-position:0% -50px;
	  background:url(../../img/nao_left.png) no-repeat left top;
      }
    #tabs7 a:hover span {
      background-position:100% -50px;
	  color:#a5571f;
	  background:url(../../img/nao_right.png) no-repeat right top;
      }

      #tabs7 .current a {
	  	   background:url(../../img/nao_left.png) no-repeat left top;
           background-position:0% 0px;
		   color:#a5571f;
      }
      #tabs7 .current a span {
              background-position:100% -50px;
			  color:#a5571f;
			  background:url(../../img/nao_right.png) no-repeat right top;
      }
	  
	  
/*---------------------------------------------------*/	  
	  .na_1{ margin:0px 0px; padding-top:18px;}
	  	.na_1 li{ list-style:none; display:inline; margin:0px 0px;}
		.na_1 li a{ border-left:dotted 1px #b45f23; padding:2px 5px 2px 5px; color:#fff;}
		.na_1 li a:hover{ color:#b45f23; text-decoration:none;}
		.na_1 li a.current{ color:#b45f23; text-decoration:none;}
	  
	  #na_2{ float:left; padding-top:0px; width:auto; background:none; font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:normal; color:#fff; font-stretch:condensed;}
	  	#na_2 ul { margin:0; padding:0; list-style:none;}
	  	#na_2 li{ list-style:none; display:inline; margin:0px 0px;}
		#na_2 a{ float:left; cursor:hand; margin: 0 1px 0 0; padding:0 0 0 10px; text-decoration:none; background:url(../../img/na_left.png) no-repeat left top;}
		#na_2 a span { float:left; display:block; padding:7px 10px 5px 0px; color:#fff; height:20px; background:url(../../img/na_right.png) no-repeat right top;}
		#na_2 a:hover { background-position:0% -50px; background:url(../../img/nao_left.png) no-repeat left top;}
        #na_2 a:hover span { background-position:100% -50px; color:#a5571f; background:url(../../img/nao_right.png) no-repeat right top;}
        #na_2 .current a { background:url(../../img/nao_left.png) no-repeat left top; background-position:0% 0px; color:#a5571f;}
        #na_2 .current a span { background-position:100% -50px; color:#a5571f; background:url(../../img/nao_right.png) no-repeat right top;}
	  
	  